# Telegram Bot Token — @BotFather dan oling
BOT_TOKEN=8839847109:AAHZpwWSaCl50IMmdVxZXiXIMaQk7V078pA

# RapidAPI Key — https://rapidapi.com/tipsters/api/shazam-core
# Ovozli xabarni aniqlash uchun (ixtiyoriy, bepul plan mavjud)
RAPIDAPI_KEY=your_rapidapi_key_here
